body
    {
        background-color: #9eb3c2;
        margin:0;
    }
h1
    {
        color: white;
        text-align: center;
        font-family: Verdana;
    }
p
    {
        font-family: Helvetica;
        font-size: 20px;
        color: green;
    }
img.logo
    {
        width: 130px;
    }
.barrasuperior
    {
        background-color: #00517c;
        width:100%;
        overflow:hidden;
        margin:0;
        padding: 0;
    }
.barrasuperior ul
    {
        margin:5px 0;
        padding: 0;
        width: 100%;

    }
.barrasuperior ul li
    {

        font-family: verdana;
        margin: 0 auto;
        display: block;
        float: left;
        /*border: 1px solid #f09;*/
    }
.barrasuperior ul li a
    {
        color: #ffffff;
        text-decoration: none;
        padding: 15px;
        display: block;
   
    }
.barrasuperior ul li a:hover
    {
        color: #c36a00;
    }
#link-logo
{
    padding: 0 20px;
}

#login
{
    position: absolute;
    right: 0px;
}